body{
    margin: 0;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #784B84;
    margin-bottom: 8px;
}

button{
    padding: 10px 20px;
}

#input-btn{
    background-color: #784B84;
    color: aliceblue;
    border: none;
}

#delete-btn{
    background-color: aliceblue;
    color: #784B84;
    border: 1px solid #784B84;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin-top: 5px;
}

a{
    color: #784B84;
}